<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">
   
  <!-- collaborators and configuration for this bean go here -->
  <bean id="ele" class="com.springcore.ElectricEngine" />
  
  <bean id="diesel" class="com.springcore.DieselEngine" />
  
  <bean id="petrol" class="com.springcore.PetrolEngine" />
  
  <bean id="car" class="com.springcore.Car" >
  
  <property name="eng" ref="petrol"></property>
  
  </bean>
  
  
</beans>